<br>
<div class="container">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <%= column_chart @earnings.limit(15).group(:position_title).average(:salary), colors: ['#78909c'] %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Averge White House Salary by Position Title (Trump Administration)<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Since 1995, the White House has been required to deliver a report to Congress listing the title and salary of every White House Office employee. The Trump administration released the data as a PDF that we subsequently parsed to be machine readable. <i> - Enigma.io </i></p>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <%= pie_chart @earnings.top(:salary, 10) %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Pay Bracket Breakdown (Trump Administration)<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Since 1995, the White House has been required to deliver a report to Congress listing the title and salary of every White House Office employee. The Trump administration released the data as a PDF that we subsequently parsed to be machine readable. <i> - Enigma.io </i></p>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <%= pie_chart @earnings.top(:position_title, 5) %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Top 5 Most Accuring Job Titles (Trump Administration)<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Since 1995, the White House has been required to deliver a report to Congress listing the title and salary of every White House Office employee. The Trump administration released the data as a PDF that we subsequently parsed to be machine readable. <i> - Enigma.io </i></p>
    </div>
  </div>
</div>
