<br>
<div class="container">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <%= column_chart @foods.top(:dba, 10) %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Most Frequent Health Code Violations by Restaurant (New York)<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Restaurant Inspections<i class="material-icons right">close</i></span>
      <p>The Health Department conducts unannounced inspections of restaurants at least once a year. Inspectors check for compliance in food handling, food temperature, personal hygiene and vermin control. Each violation of a regulation gets a certain number of points. At the end of the inspection, the inspector totals the points, and this number is the restaurant's inspection score—the lower the score, the better the Grade.<i> - Enigma.io </i></p>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <%= area_chart @foods.group_by_year(:inspection_date).sum(:score) %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Top 7 Most Popular Restaurant Types in New York<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Restaurant Inspections<i class="material-icons right">close</i></span>
      <p>The Health Department conducts unannounced inspections of restaurants at least once a year. Inspectors check for compliance in food handling, food temperature, personal hygiene and vermin control. Each violation of a regulation gets a certain number of points. At the end of the inspection, the inspector totals the points, and this number is the restaurant's inspection score—the lower the score, the better the Grade.<i> - Enigma.io </i></p>
    </div>
  </div>
</div>
