<div id="particles-js">
  <div class="container" id='text'>
    <h1 style='font-weight: 100;'>Data Visualization at your Fingertips</h1>
    <%= link_to 'Create an Account', new_user_registration_path, class: 'nav-link waves-effect waves-light btn-large amber', style: "pointer-events: all;" %>
  </div>
</div>
<div class="row center-align no-margin">
  <h4><%= link_to 'WHITEHOUSE', earning_index_path, class: 'blue-text' %></h4>
  <h4><%= link_to 'NEW YORK FOOD SERVICE', food_index_path, class: 'blue-text' %></h4>
  <h4><a class="blue-text" href="#followers">VINLI</a></h4>
  <h4><a class="blue-text" href="#following">WEATHER</a></h4>
</div>
