<div id="particles-js">
  <div class="container" id='text'>
    <h1 style='font-weight: 100;'>Data Visualization at your Fingertips</h1>
    <%= link_to 'Create an Account', new_user_registration_path, class: 'nav-link waves-effect waves-light btn-large amber', style: "pointer-events: all;" %>
  </div>
</div>
<div class="row center-align no-margin">
  <h1>test test test............................................................................</h1>
</div>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col m3 s12"><a class="blue-text" href="#voted">WHITEHOUSE</a></li>
      <li class="tab col m3 s12"><a class="blue-text" href="#posts">NEW YORK FOOD SERVICE</a></li>
      <li class="tab col m3 s12"><a class="blue-text" href="#followers">VINLI</a></li>
      <li class="tab col m3 s12"><a class="blue-text" href="#following">WEATHER</a></li>
      <div class="indicator blue" style="z-index:1"></div>
    </ul>
  </div>
</div>
